# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
*.log

# Node
node_modules/
dist/

# IDE
.idea/
.vscode/
*.swp

# Environment
.env
.venv/
venv/

# Docker
postgres_data/

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/
